# Clé API — ne jamais mettre sur GitHub
.env

# Environnement Python
__pycache__/
*.pyc
*.pyo
.venv/
env/

# FAISS — base vectorielle locale
*.index
*.pkl
*.faiss
*.txt
parents.json

# Documents uploadés — trop lourds pour GitHub
documents/*
!documents/.gitkeep
temp_docs

# VS Code
.vscode/*

# Dataset d'évaluation
evaluation/kaggle_dataset/
